# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Ignore temporary and IDE specific files
*.log
*.tmp
*.bak
*.swp

# Intellij IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS specific files
.DS_Store
Thumbs.db